<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Создание функции</title>
</head>
<body>
<h1>Создание функции</h1>
<form action="/functions/create" method="post">
    <label for="name">Название:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="xValues">X значения (через запятую):</label>
    <input type="text" id="xValues" name="xValues" required>
    <br>
    <label for="yValues">Y значения (через запятую):</label>
    <input type="text" id="yValues" name="yValues" required>
    <br>
    <button type="submit">Создать</button>
</form>
</body>
</html>
